<div class="flex">
  <!-- Colonne gauche : Playlist -->
  <div class="w-1/6 p-4">
    <app-playlist />
  </div>

  <!-- Colonne droite : Recherche et résultats -->
  <div class="w-5/6 p-4">
    <section class="flex flex-col items-center pt-6">
      <div
        class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
      >
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1
            class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
          >
            Recherche de vidéos Youtube
          </h1>
          <form
            (submit)="onSubmit()"
            [formGroup]="youtubeSearchForm"
            class="space-y-4 md:space-y-6"
          >
            <div>
              <label
                for="name"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Recherche</label
              >
              <input
                formControlName="search"
                type="text"
                name="name"
                id="search"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Rechercher..."
                required=""
              />
              @if(youtubeSearchForm.get("search")?.touched &&
              youtubeSearchForm.get("search")?.invalid) {
              @if(youtubeSearchForm.get('search')?.hasError('minlength')) {
              <p class="text-red-500 text-xs italic">Min. 6 caractères</p>
              } }
            </div>

            <button
              [disabled]="!youtubeSearchForm.valid"
              type="submit"
              class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Rechercher
            </button>
          </form>
        </div>
      </div>
    </section>

    <!-- Résultats de recherche -->
    <section class="flex flex-wrap justify-center gap-6">
      @for (video of videos; track video.id) {
      <div
        class="relative flex flex-col my-6 bg-white shadow-sm border border-slate-200 rounded-lg w-96"
      >
        <div class="relative h-56 m-2.5 overflow-hidden text-white rounded-md">
          <a [routerLink]="['/watch', video.id.videoId ]"
            ><img
              src="{{ video.snippet.thumbnails.medium.url }}"
              width="{{ video.snippet.thumbnails.medium.width }}"
              alt="card-image"
          /></a>
        </div>
        <div class="p-4">
          <h6 class="mb-2 text-slate-800 text-xl font-semibold">
            {{ video.snippet.title }}
          </h6>
          <p class="text-slate-600 leading-normal font-light">
            {{ video.snippet.description }}
          </p>
        </div>
        <div class="px-4 pb-4 pt-0 mt-2">
          <button
            class="rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button"
          >
            [+] Ajouter
          </button>
        </div>
      </div>
      }
    </section>

@if(isLoading | async) {
  <div role="status">
    <svg aria-hidden="true" class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
    </svg>
    <span class="sr-only">Loading...</span>
</div>
}

  </div>
</div>
